/* --- Variables --- */
:root {
    --blue: #242B2E;
    --white: #F7F8F8;
    --greywhite: #f9f9f9;
    --greybackground: #666;
    --red: red;
    --green: green;
    --bluetext: #242B2E;
    --textcolor: #333;
    --gradient1: rgb(36, 43, 46);
    --gradient2: rgb(23, 26, 28);
    --gradient3: rgba(0, 0, 0, 1);
    --gradient-background: linear-gradient(90deg, var(--gradient1) 0%, var(--gradient2) 35%, var(--gradient3) 100%);
    --boxshadow: rgba(0, 0, 0, 0.1);
    --microsoft-background: #1C1C1C;
    --microsoft-active-background: #0A0A0A;
    --header-background: #121617;
    --userinfo-text-color: #227E82;
    --menu-background-color: #242B2E;
    --border-color: #48565B;
    --button-border-color: #DDE2E4;
    --border-radius-max: 999px;
    --border-radius-mid: 10px;
    --pure-white: #fff;
    --dark-grey: #333;
    --medium-grey: #444;
    --pure-black: #000;
    --explicit-white: #ffffff;
}

html {
    scroll-behavior: smooth;
}

/* --- General Styling --- */
body {
    font-family: "Roboto", "Arial", sans-serif;
    text-rendering: optimizeLegibility;
    font-display: swap;
    font-style: normal;
    font-weight: 100;
    margin: 0;
    padding: 0;
    background-color: var(--greywhite);
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 1.6em;
    color: var(--textcolor);
}

p {
    color: var(--greybackground);
    font-weight: 100;
    line-height: 1.5em;
}

strong {
    font-weight: 300;
}

main {
    max-width: 80%;
    display: flex;
    margin: 2em auto 10% auto;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

section {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

section.visible {
    opacity: 1;
    transform: translateY(0);
}

button.scroll-to-top {
    position: fixed;
    bottom: 55px;
    right: 5px;
    width: 50px;
    height: 50px;
    background: var(--userinfo-text-color);
    color: var(--white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(50px);
}

button.scroll-to-top.hidden {
    visibility: hidden;
}

a {
    text-decoration: none;
    color: var(--userinfo-text-color);
}

header a {
    color: var(--white);
}

a:active {
    font-weight: bold;
    color: var(--userinfo-text-color);
    border-bottom: 2px solid var(--userinfo-text-color);
}

a:hover {
    color: var(--textcolor);
}

header a:hover {
    color: var(--userinfo-text-color);
}

/* --- Header Styling --- */
header div.header-row:first-child {
    background: var(--header-background);
    justify-content: end;
}

header div.header-row:not(:first-child) {
    background: var(--menu-background-color);
    color: var(--white);
    justify-content: flex-start;
    font-weight: 100;
}

header div.header-row {
    display: flex;
    padding: 5px;
    align-items: center;
    position: relative;
    box-shadow: 0 4px 8px var(--boxshadow);
}

header div.header-row #logo img {
    width: 50px;
}

select#language-selector {
    background-color: transparent;
    border: none;
    padding: 10px;
    color: #fff;
}

select#language-selector:focus-visible {
    border: none;
    outline: unset;
}

div#menu {
    display: flex;
    flex: auto;
}

h1 {
    animation: fadeInTitle 2s ease forwards;
    font-size: xx-large;
    display: flex;
    flex: auto;
    color: var(--white);
    text-shadow: 2px 0px var(--userinfo-text-color);
}

h2 {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    color: var(--textcolor);
    padding: 20px 0;
    position: relative;
    overflow: hidden;
    animation: fadeInTitle 2s ease forwards;
}

h2::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: var(--greybackground);
    transition: width 2s ease-in-out;
}

h2:hover::after {
    width: 100%;
}

/* --- Box Styling --- */
div.box {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--button-border-color);
    border-radius: var(--border-radius-mid);
    background: var(--boxshadow);
    color: var(--menu-background-color);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1 1 25%;
}

div.box.box-featured {
    background: var(--userinfo-text-color);
    color: var(--explicit-white);
}

div.box.box-featured .box-container {
    background: unset;
}

div.box.box-featured .box-item {
    color: var(--white);
    transform: unset;
    box-shadow: unset;
    background: unset;
    border: unset;
    text-align: unset;
}

div.box.box-featured .box-item p {
    color: var(--white);
}

div.box.box-featured button {
    color: var(--white);
}

div.box.box-featured .button {
    flex: none;
    text-align: center;
    margin-top: 20px;
    align-self: flex-start;
}

div.box .button {
    border-radius: var(--border-radius-mid);
    padding: 10px;
    border: 1px solid var(--button-border-color);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: var(--button-border-color);
    background: var(--userinfo-text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    align-self: center;
}

div.box .featured-button-main {
    background-color: var(--header-background);
}

.box-item {
    padding: 20px;
    text-align: center;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.partners-item {
    flex: 1 1 25%;
    background: linear-gradient(135deg, var(--light-grey), var(--dark-grey));
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    text-align: center;
    color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.partners-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px var(--box-shadow);
}

.partners-item img {
    max-height: 50px;
    margin-bottom: 10px;
}

.box-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px var(--box-shadow);
}

.service-item img {
    width: 50px;
    height: 50px;
    margin: 0 auto 15px auto;
    display: block;
}

.box-item h3 {
    font-size: 1.4em;
    margin-bottom: 15px;
    color: var(--black);
}

.box-item p {
    font-size: 0.95rem;
    flex-grow: 1;
    margin-bottom: 15px;
}

.box-item button {
    background-color: var(--highlight-color);
    color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    font-size: 0.9rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.box-item button:hover {
    background-color: var(--tertiary-color);
}

/* --- Menu Styling --- */
#menu nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#menu nav ul li {
    margin-right: 20px;
}

#menu nav ul li a.menu-item:hover {
    color: var(--userinfo-text-color);
    transition: color 0.3s ease;
}

/* --- Animations --- */
@keyframes fadeInTitle {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}


/* Blinking border effect */
@keyframes blink-border {
    0% {
        border-color: red;
    }
    50% {
        border-color: transparent;
    }
    100% {
        border-color: red;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* --- Logo Styling --- */
div#logo {
    display: flex;
    flex: auto;
}

/* --- Contact Form Styling --- */
/* Highlight error fields */

.error-field {
    border: 2px solid red !important;
}

.error-field {
    border: 2px solid red !important;
    background-color: #ffe5e5 !important;
    animation: blink-border 1s infinite !important;
    border-radius: 5px !important;
}

/* Tooltip styling */
.error-tooltip {
    position: absolute;
    background-color: #e63946;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.85rem;
    z-index: 1000;
    white-space: nowrap;
    transform: translateY(-100%);
}

/* Prevent tooltips from overlapping */
.error-tooltip::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #ffe5e5 transparent;
}

#contact {
    width: 100%;
}

.contact-form {
    width: 100%;
    padding: 30px 100px 0 100px;
    background: var(--userinfo-text-color);
    border-radius: 15px;
    box-shadow: 0px 4px 10px var(--boxshadow);
}

.contact-form label {
    display: none;
}

.contact-form input,
.contact-form textarea,
.contact-form select {
    width: calc(100% - 20px);
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    border: none;
    background: var(--white);
    color: var(--black);
    font-size: 1rem;
    box-shadow: inset 0px 2px 4px var(--boxshadow);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus,
.contact-form select:focus {
    outline: none;
    box-shadow: 0px 0px 8px var(--userinfo-text-color);
}

.g-recaptcha {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    height: auto;
    padding: 10px 0;
    box-sizing: border-box;
}

.form-error {
    color: var(--red);
    font-size: 0.9rem;
    margin-top: -10px;
    display: flex;
    font-weight: bold;
    background-color: var(--bluetext);
    padding: 10px;
    border-radius: 10px;
    animation: blink 1s ease-in-out 5; /* Blink for 5 iterations */
    animation-fill-mode: forwards; /* Keep the final state visible */
}

/* Modern browsers */
.blink-placeholder::placeholder { color: var(--red) !important; }
/* Webkit browsers (Chrome, Safari, Opera) */
.blink-placeholder::-webkit-input-placeholder { color: var(--red) !important; }
/* Firefox 19+ */
.blink-placeholder::-moz-placeholder { color: var(--red) !important; }
/* IE 10+ */
.blink-placeholder:-ms-input-placeholder { color: var(--red) !important; }

.form-error[data-field-name="g-recaptcha-response"] {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    height: 70px;
    padding: 10px 0;
    box-sizing: border-box;
}

.form-success {
    color: var(--white);
    font-size: 1rem;
    margin: 0 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/* Simple CSS spinner styling (adjust as needed) */
.spinner {
    display: inline-block;
    animation: spin 1s linear infinite;
}


/* --- Phone Container --- */
.phone-container {
    display: flex;
    gap: 15px;
    align-items: baseline;
    justify-content: space-between;
    width: calc(100% - 5px);
}

.phone-container input {
    width: 65%;
}

.phone-container select {
    flex: auto;
    padding: 15px;
    font-size: 1rem;
    border-radius: 8px;
    background-color: var(--white);
    border: 1px solid var(--border-color);
    color: var(--black);
    box-shadow: inset 0px 2px 4px var(--box-shadow);
    transition: all 0.3s ease;
    margin-bottom: 15px;
}

.phone-container input[type="tel"],
.ts-wrapper {
    flex: auto;
    padding: 15px;
    border-radius: 8px;
    background-color: var(--white);
    color: var(--black);
    font-size: 1rem;
    border: 1px solid var(--border-color);
    box-shadow: inset 0px 2px 4px var(--box-shadow);
    transition: all 0.3s ease;
}

.ts-wrapper {
    padding: 8px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}

.ts-control {
    border: none;
    background-color: transparent;
    width: 100%;
}

.ts-dropdown {
    width: 100%;
}

.full .ts-control {
    background: transparent;
}

.phone-container input[type="tel"]:focus {
    outline: none;
    box-shadow: 0px 0px 5px var(--box-shadow-focus);
}

#countryCode-ts-control {
    caret-color: transparent;
    pointer-events: none;
}

#countryCode-ts-control:focus {
    caret-color: transparent;
}

/* --- Footer --- */
footer {
    background-color: var(--textcolor);
    color: var(--white);
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* --- Form Styles --- */
button.button {
    background-color: var(--blue);
    color: var(--white);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.button:hover {
    background-color: var(--blue);
}

/* --- Log Container Styling --- */
.log-container {
    position: fixed;
    bottom: 65px;
    width: 300px;
    max-height: 300px;
    background: var(--pure-black);
    opacity: 0.8;
    color: var(--pure-white);
    font-size: 14px;
    border-radius: 5px;
    overflow-y: auto;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(var(--pure-black), 0.3);
    z-index: 1000;
    display: none;
}

.log-container.visible {
    display: block;
}

#log {
    padding: 5px;
}

.debug-log {
    border-left: 5px solid;
    margin-bottom: 5px;
    padding: 5px;
    transition: opacity 0.5s ease;
    cursor: pointer;
}

.debug-log:hover {
    background: rgba(255, 255, 255, 0.1);
}

/* --- Toggle Log Button Styling --- */
.toggle-log {
    position: fixed;
    bottom: 12px;
    background: var(--dark-grey);
    color: var(--pure-white);
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    z-index: 1001;
}

.toggle-log:hover {
    background: var(--medium-grey);
}
